Source: pget
Maintainer: duy <duy at rhizoma dot tk>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: python-pget
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Downloader of files from the Web using tor implemented with 

